pydantic
fastapi[standard]
pytest
pytest-cov
pytest-html
pytest-asyncio
pandas
openai
psycopg
psycopg2-binary
pgvector
python-dotenv
timescale-vector
instructor
anthropic
uvicorn
prometheus-client
prometheus-fastapi-instrumentator